<ion-header>
  <ion-toolbar>
    <ion-title>
      Agregar cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre: </ion-label>
    <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre Dueño: </ion-label>
    <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Raza: </ion-label>
    <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Dirección: </ion-label>
    <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
  </ion-item>

  <ion-button>Guardar</ion-button>
</ion-content>
